<header>
  <nav>
    <ul>
      <li
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </li>
      <li
        routerLink="/counter"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Counter
      </li>
      <li
        routerLink="/tasks"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Tasks
      </li>
      <li
        routerLink="/products"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Products
      </li>
    </ul>
  </nav>
</header>
