.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.taskCard {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 20px;

  &:hover {
    box-shadow: 2px 2px 2px 0px red;
  }
}

.finishedTask {
  background-color: aquamarine;
}

.unfinished {
  background-color: coral;
}
