header {
  // width: 100%;
  background-color: #474056;
  color: white;
  border-bottom: 2px solid #2d3436;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 40px;
  align-items: center;

  strong {
    font-size: 20px;
  }

  h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 300;
    padding: 20px;
  }
}
