<header>
  <!-- <h1>{{ title }}</h1> -->
  <h1>{{ companyTitleAsync | async}}</h1>
  <h2>Company's employee archive</h2>
</header>
<br><br>

<label>Enter a position: </label>
<input type="text" [(ngModel)]="position">
<br><br>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Start Date</th>
    <th>Email</th>
    <th>Address</th>
    <th>Tel Number</th>
    <th>Position</th>
    <th>Salary</th>
    <th>Years of Service</th>
    <th>Performance</th>
  </tr>

  <tr *ngFor="let person of people | positionFilter: position">
    <td>{{ person.firstName }}</td>
    <td>{{ person.lastName | uppercase }}</td>
    <td>{{ person.startDate | date: 'longDate' }}</td>
    <td>{{ person.email }}</td>
    <td>{{ person.address | addressTransform | shorten: 15}}</td>
    <td>{{ person.telephoneNumber }}</td>
    <td>{{ person.position }}</td>
    <td>{{ person.salary | currency: 'EUR': 'symbol': '1.0-0' }}</td>
    <td>{{ person.yearsOfService }}</td>
    <td>{{ person.performance | performanceTranform }}</td>

  </tr>
</table>