<header>
  <nav>
    <ul>
      <li
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Home
      </li>
      <li
        routerLink="/tasks"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Tasks
      </li>
      <li
        routerLink="/create-task"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Create Task
      </li>
    </ul>
  </nav>
</header>
