nav {
    background-color: darkgray;
    padding: 10px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 600;
}

a:hover {
    color: blue;
}

.active {
    color: lightblue
}