<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Email: </mat-label>
    <input matInput formControlName="email" />
    <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
      The email is required!
    </mat-error>
    <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
      The email is invalid!
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Password: </mat-label>
    <input type="password" matInput formControlName="password" />
    <mat-error *ngIf="loginForm.get('password')?.hasError('required')"
      >The password is required</mat-error>
  </mat-form-field>


  <button mat-raised-button color="primary">Login</button>
</form>
