.wrapper {
    display: flex;
    justify-content: center;
}

form {
    padding: 20px;
    min-width: 150px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

mat-hint {
    margin-top: 5px;
    color: gray
}

a {
    cursor: pointer;
    color: blue;
}