<section *ngIf="!!selectedMovie" class="container">
  <div class="details-heading">
    <h2>{{ selectedMovie.title }}</h2>
    <span class="item-rating">{{ selectedMovie.rating }}</span>
  </div>
  <div class="details-body">
    <h3>Movie Details</h3>
    <div class="details-info">
      <p>Year: {{ selectedMovie.year }}</p>
      <p>Director: {{ selectedMovie.director }}</p>
      <p>Genres: {{ selectedMovie.genres }}</p>
    </div>
    <h3>Review</h3>
    <p>
      {{ selectedMovie.text }}
    </p>
    <div class="details-footer">
      <p>
        <em>{{ selectedMovie.author }}</em>
      </p>
      <button type="button" (click)="onAddLike()">Like! 👍</button>
    </div>
  </div>
</section>
