table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 10px;
    width: calc(100% - 20px);
}

td, th {
    padding: 5px;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.search-wrapper input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.filters-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.filters-wrapper > div {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.filters-wrapper > div > label[for="is-passing"] {
    padding: 10px 0 10px 5px;
}

.filters-wrapper input[type="checkbox"] {
    height: 20px;
    width: 20px;
}

.filters-wrapper select {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px
}

.filters-wrapper label + input[type="date"] {
    margin: 0 10px;
}

button {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
}