table, th, td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 10px;
    width: calc(100% - 20px);
}

td, th {
    padding: 5px;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.search-wrapper input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}