<!-- ONLY WHILE DEVELOPMENT -->
<!-- <pre>
    {{students | json}}
</pre> -->

<div class="search-wrapper">
    <input type="search" id="search" placeholder="Search..." (keyup)="onKeyUp($event)" />
</div>

<div class="filters-wrapper">
    <div>
        <input type="checkbox" id="is-passing" (change)="onIsPassingChange($event)">
        <label for="is-passing">Is Passing</label>
    </div>
    <div>
        <select name="group" id="group" (change)="onGroupSelect($event)">
            <option value="" [selected]="!selectedGroup">All</option>
            <option *ngFor="let group of groups" [selected]="group === selectedGroup" [value]="group">{{group}}</option>
        </select>
    </div>
    <div>
        <div>
            <label for="start-date">From</label>
            <input type="date" id="start-date" (change)="onStartDateChange($event)" />
        </div>
        <div>
            <label for="end-date">To</label>
            <input type="date" id="end-date" (change)="onEndDateChange($event)">
        </div>
    </div>
</div>

<table>
    <thead>
        <th>#</th>
        <th>Name</th>
        <th>Date of Birth</th>
        <th>Academy</th>
        <th>Group</th>
        <th>Avg Grade</th>
    </thead>
    <tbody>
        <tr *ngFor="let student of students">
            <td>{{student.id}}</td>
            <td>{{student.name}}</td>
            <td>{{student.dateOfBirth | date: 'dd.MM.yyyy'}}</td>
            <td>{{student.academy}}</td>
            <td>{{student.group | uppercase }}</td>
            <td appGradeColor [grade]="student.grades | averageGrade">{{student.grades | averageGrade }}</td>
        </tr>
    </tbody>
</table>