<form (ngSubmit)="onSubmit()" [formGroup]="studentForm">
    <div>
        <label appRequiredField for="name">Name</label>
        <input [ngClass]="{ 'error-border': isNameInvalid }" type="text" id="name" name="name" formControlName="name" />

        <!-- try to avoid this studentForm.controls['name'], use .get() instead -->
        <p class="error" *ngIf="isNameInvalid">
            {{ nameHasErrorRequired ? 'Name is required' : ''}}
            {{ nameHasErrorMinLength ? "Name can't be less than 3 characters" : "" }}
            {{ nameHasErrorMaxLength ? "Name can't be more than 20 characters" : "" }}
        </p>
    </div>

    <div>
        <label appRequiredField for="group">Group</label>
        <select [ngClass]="{ 'error-border': isGroupInvalid }" name="group" id="group" formControlName="group">
            <option *ngFor="let group of groups" [value]="group">{{group}}</option>
        </select>

        <p class="error" *ngIf="isGroupInvalid">
            Group is required
        </p>
    </div>

    <div>
        <label appRequiredField for="academy">Academy</label>
        <select [ngClass]="{ 'error-border': isAcademyInvalid }" name="academy" id="academy" formControlName="academy">
            <option value="" selected disabled>Select...</option>
            <option *ngFor="let academy of academies" [value]="academy">
                {{academy}}
            </option>
        </select>

        <p class="error" *ngIf="isAcademyInvalid">
            Academy is required
        </p>
    </div>

    <div>
        <label appRequiredField for="date-of-birth">Date of Birth</label>
        <input [ngClass]="{ 'error-border': isDateOfBirthInvalid }" type="date" id="date-of-birth" name="dateOfBirth"
            formControlName="dateOfBirth">

        <p class="error" *ngIf="isDateOfBirthInvalid">
            Date of Birth is required
        </p>
    </div>

    <div>
        <label for="location">Location</label>
        <select name="location" id="location" formControlName="location">
            <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
    </div>

    <div>
        <button type="submit" [disabled]="studentForm.invalid">Submit</button>
    </div>
</form>